<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
  <package id="Nustache" version="1.13.8.22" targetFramework="net45" />
  <package id="Rosalia" version="2.5.17-alpha" targetFramework="net45" />
  <package id="Rosalia.Core" version="2.5.17-alpha" targetFramework="net45" />
  <package id="Rosalia.TaskLib.AssemblyInfo" version="2.5.17-alpha" targetFramework="net45" />
  <package id="Rosalia.TaskLib.Git" version="2.5.17-alpha" targetFramework="net45" />
  <package id="Rosalia.TaskLib.MsBuild" version="2.5.17-alpha" targetFramework="net45" />
  <package id="Rosalia.TaskLib.NuGet" version="2.5.17-alpha" targetFramework="net45" />
</packages>